.navbar {
  justify-content: initial;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-brand-mobile {
  margin-left: 1rem;
}

.user-menu {
  & > div {
    right: 0;
    left: auto;
  }
}
.start{
  background-color: rgba(216, 157, 0, 1);
  height:50px;
  text-align: center;
}
.text{
  color: white;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}